/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

body {
    background-color: #fff;
    font-family: "Open Sans", Helvetica, sans-serif;
    font-size: 15px;
    p {
        text-align: justify
    }
    p:first-of-type:first-letter { 
        font-family: "Playfair Display";
        font-weight: 400;
        float: left;
        margin: 0px 12px 0 0;
        font-size: 80px;
        line-height: 65px;
        text-align: center;
        color: #030303;
    }
}

a {
    color: #111;
}

header#banner {
    height: 450px;
    width: 100%;
    background-image: url(../images/snow.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

div#heading {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1.site-title {
    color: #111;
    text-align: center;
    font-size: 100px;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 10px;
    margin: 0;
    padding-right: 30px;
}

h2 {
    color: #111;
}

div#wrapper.container-fluid {
    padding: 0;
}

nav#navigation {
    min-height: 60px;
    padding: 0px 40px;
    box-shadow: 0px 1px 5px rgba(0,0,0, 0.1);
    ul {
        min-height: 60px;
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    a {
        text-transform: uppercase;
        font-weight: 600;
        letter-spacing: 1px;
        padding: 0px 15px;
    }
    a:hover {
        text-decoration: none;
        color:#ca9b52;
    }
}

.content-container {
    padding: 41px 7% 0px 7%;
}

#myCustomNav {
    height: 32px;
    background-color: #23282d;
    font-size: 12px;
    #sign-in {
        height: 100%;
        color: #eee;
        float: right;
        margin-right: 10px;
        padding: 7px;
    }
    #myHartLogo {
        display: inline-block;
        font-family: "Playfair Display";
        height: 75%;
        margin-top: 4px;
        margin-left: 10px;
        padding: 0px 3px 0px 3px;
        background-color: #ccc;
        color: #23282d;
        border: 4px double #23282d;
        border-radius: 100px;
    }
}

#nav-menu-hamburger-icon {
    background-image: url(../images/menu_icon.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    min-height: 60px;
    min-width: 60px;
    position: absolute;
    left: 7%;
}

#nav-menu-search-icon {
    background-image: url(../images/search_icon.png);
    background-repeat: no-repeat;
    background-size: 30%;
    background-position: center;
    min-height: 60px;
    min-width: 60px;
    position: absolute;
    right: 7%;
}

div.portlet-column {
    margin-bottom: 40px;
}

// center blog entry title and date info
.entry-title {
    text-align: center;
    font-family: "Playfair Display";
    font-size: 44px;
    font-weight: 400;
    letter-spacing: 0.5px;
    line-height: 44px;
    h2 {
        padding-left: 32px;
    }
}

.entry-info {
    text-align: center;
    font-family: "Playfair Display";
    font-weight: 400;
    letter-spacing: 0px;
    line-height: 25px;
}